{{- if eq .Online true -}}
🟢 *Устройство онлайн*
{{- else -}}
🔴 *Устройство оффлайн*
{{- end }}

*Название:* {{ .Label }} ({{ .Point }})
*UUID:* `{{ .UUID }}`
*Статус изменён:* {{ .OldStatus }} ➝ {{ .NewStatus }}
*Когда:* {{ .ChangedAt }}

⏱ *Последний онлайн:* {{ .LastSeenAgo }}
